<!-- <div class="container" style="text-align: center;">
     <app-header></app-header></div> -->

<div class="container-fluid" style="background-color: #f6f6f6;">
    <!-- <div class="row"> -->
        <div class="main">
            <div class="top-header">
                <app-header></app-header>
            </div>
            <div class="col-md-4" style="border-top: 1px solid black; border-right: 1px solid black;">
                <div class="left-bar">
                    <app-new-play-list></app-new-play-list>
                    <playlist-titles></playlist-titles>
                </div>
            </div>
            <div class="col-md-8"  style="border-top: 1px solid black;">
                <div class="main-content">
                    <playlist-videos></playlist-videos>
                </div>
            </div>
        </div>
    <!-- </div> -->
</div>     
